## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
.rvmrc

# don't commit Gemfile.lock
*.lock
*.gem

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle